@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "LatoH";
    src: url("/assets/fonts/Lato-ExtraBold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: "LatoBold";
    src: url("/assets/fonts/Lato-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "LatoSemibold";
    src: url("/assets/fonts/Lato-Semibold.ttf");
    font-we

@font-face {
    font-family: "LatoMedium";
    src: url("/assets/fonts/Lato-Medium.ttf");
    font-weight: 500;
}

.lato-m {
    font-family: 'LatoMedium', sans-serif;
}

.lato-s {
    font-family: 'LatoSemibold', sans-serif;
}

.lato-b {
    font-family: 'LatoBold', sans-serif;
}

.lato-e {
    font-family: 'LatoH', sans-serif;
}

.shadow {
    box-shadow: 0px 54px 15px 0px rgba(0, 0, 0, 0.00), 0px 35px 14px 0px rgba(0, 0, 0, 0.00), 0px 19px 12px 0px rgba(0, 0, 0, 0.01), 0px 9px 9px 0px rgba(0, 0, 0, 0.02), 0px 2px 5px 0px rgba(0, 0, 0, 0.02);
}

@layer utilities {
    .text_content p {
        color: #61656F;
        font-size: 16px;
        font-family: 'LatoSemibold', sans-serif;
        line-height: 28px;
        margin-bottom: 18px;
    }

    @media (max-width: 1024px) {
        .text_content p {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 16px;
        }
    }

    .list ul {
        font-size: 18px;
        line-height: normal;
        display: flex;
        flex-direction: column;
        gap: 12px;
        color: #61656F;
        font-weight: normal;
        padding-left: 25px;
        margin-bottom: 48px;
    }
  
    .list ul li strong {
        font-family: 'LatoH', sans-serif;
        color: #61656F;
    }

    @media (max-width: 1024px) {
        .list ul {
            line-height: 22px;
            margin-bottom: 24px;
        }
    }
}
